body {
    padding: 1em;
    background-color: #fff7e5;
}
div {
    padding: 1em;
}
#search {
    display: inline-block;
    max-width: 40%;
}
#login-div {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 1.5em;
    padding: 2em;
    background-color: #fce0a2;
    border-radius: 2em;
    box-shadow: inset 5px 10px 5px #a98536;
    text-align: left;
}
#login-img {
    display: inline-flex;
    width: 30%;
    vertical-align: middle;
    margin: 1.5em;
}
#register-div {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    margin: 1.5em;
    padding: 2em;
    background-color: #fce0a2;
    border-radius: 2em;
    box-shadow: inset 5px 10px 5px #a98536;
    text-align: left;
}
#register-img {
    display: inline-flex;
    width: 30%;
    vertical-align: middle;
    margin: 1.5em;
}

@media only screen and (max-width: 900px) {
    #login-div,
    #login-img,
    #register-div,
    #register-img {
        display: block;
    }
    #login-div,
    #register-div {
        width: 100%;
        margin: auto;
    }
    #login-img,
    #register-img {
        margin: auto;
        margin-bottom: 2em;
        width: 40%;
    }
}
