<html>
<%- include("../partials/head") %>

<body>
    <div style="text-align: center;">
        <img id="login-img" src="login_graphic.png" />
        <div id="login-div">
            <h2>Login</h2>
            <form method="POST" action="/login">
                <div class=" form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <% if(alert == "Incorrect username or password") { %>
            <div class="alert alert-danger" role="alert"><%= alert %> </div>
            <% } else if(alert == "New user registered!") { %>
            <div class="alert alert-success" role="alert"><%= alert %> </div>
            <% } %>
            <hr>
            <a href="/register">Register as a new user</a>
        </div>
    </div>
    <hr>
    <%- include("../partials/footer") %>
</body>

</html>