<html>
<%- include("../partials/head") %>

<body>
    <h2>Register as a New User</h2>
    <form style="width: 40%;" method="POST" action="/register">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <button class="btn btn-primary" id="submit-button" type="submit">Submit</button>
    </form>
    <% if(alert !== "") { %>
    <div class="alert alert-danger" role="alert"><%= alert %> </div>
    <% } %>
    <hr>
    <a href="/login">Login</a>
    <hr>
    <%- include("../partials/footer") %>
</body>

</html>